<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Emotion Detection</title>
</head>

<body>
    <div class="app">
        <div class="main">
            <h1 class="header">Real-Time Emotion Detection</h1>
            <div>
                <img src="/video_feed" alt="Webcam Feed">
            </div>

        </div>

    </div>

</body>

</html>